<div class="container">
  <div class="row m-5">
    <div class="col-md-12 text-center">
      <h1>トレーニング名一覧表</h1>
    </div>
  </div>
  <div class="row m-5">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <table class="table">
        <thead>
          <tr>
            <th>名前</th>
            <th>部位</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @training_names. each do |training_name| %>
          <tr>
            <td><%= training_name.name %></td>
            <td><%= training_name.genre.name %></td>
            <td><%= link_to "詳細へGO！", training_name_path(training_name.id), class: "btn btn-primary" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
     <div class="col-md-2"></div>
  </div>
</div>
