<div class="container" style="height: 30vh;">
  <h1 class="text-center mt-5">管理者ログイン</h1>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="row my-2">
  <div class="col-lg-3"></div>
 <div class="col-sm12 col-lg-7">
  <div class="form-group">
    <p>ニックネーム</p>
    <%= f.text_field :nickname, autofocus: true, placeholder: "ニックネーム", class: "form-control" %>
  </div>
  <div class="form-group">
    <p>パスワード</p>
    <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
  </div>
 </div>
</div>
  <div class="sign in">
    <%= f.submit "管理者ログイン", class: "btn btn-success float-right mb-5" %>
  </div>
<% end %>
</div>
