<div class="container">
  <div class="row mt-2">
    <h1>フォロー一覧</h1>
  </div>
  <div class="row my-2">
    <% if @users.exists? %>
     <%= render 'public/users/index', users: @users %>
    <% else %>
      <h1 class="text-primary mt-5">フォローしてみよう！</h1>
    <% end %>
  </div>
</div>
