<div class="container">
  <div class="row mt-2">
    <h1>フォロワー一覧</h1>
  </div>
  <div class="row my-2">
    <% if @users.exists? %>
    <%= render 'public/users/index', users: @users %>
     <% else %>
       <div class="col-sm-12 offset-1 text-center">
         <h1 class="text-danger">ユーザーはいません＞＜</h1>
       </div>
  </div>
    <% end %>
</div>