  <div class="row">
    <div class="col-sm-12">
      <h3 class="border-bottom border-primary" style="padding:5px;">各一覧ページ</h3>
    </div>
  </div>
    <div class="card-deck">
     <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="card shadow-lg mb-3" style="height: 450px;">
          <%= link_to training_names_path, class: "text-dark" do %>
          <img class="card-img-top" src="https://images.unsplash.com/photo-1638536532686-d610adfc8e5c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
          alt="トレ名" style="height: 200px;">
          <div class="card-body">
            <div class="card-title">トレーニング名一覧</div>
            <div class="card-text">
             こちらから<br>トレーニング名を<br>
             確認、編集できます。
             <p class="mt-5 text-primary">詳細はこちら ></p>
            </div>
          </div>
          <% end %>
         </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="card shadow-lg mb-3" style="height: 450px;">
          <%= link_to training_menus_path, class: "text-dark" do %>
          <img class="card-img-top" src="https://images.unsplash.com/photo-1506784365847-bbad939e9335?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1468&q=80"
          alt="トレ名" style="height: 200px;">
          <div class="card-body">
            <div class="card-title">メニューカレンダー</div>
            <div class="card-text">
             こちらから<br>月のカレンダーが見れて<br>
             予定がわかります。
             <p class="mt-5 text-primary">詳細はこちら ></p>
            </div>
          </div>
          <% end %>
         </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="card shadow-lg mb-3" style="height: 450px;">
          <%= link_to tweets_path, class: "text-dark" do %>
          <img class="card-img-top" src="https://images.unsplash.com/photo-1463003160077-801f9fd8d095?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
          alt="トレ名" style="height: 200px;">
          <div class="card-body">
            <div class="card-title">つぶやき一覧</div>
            <div class="card-text">
             こちらから<br>つぶやき<br>
             がみれます。
             <p class="mt-5 text-primary">詳細はこちら ></p>
            </div>
          </div>
          <% end %>
         </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="card shadow-lg mb-3" style="height: 450px;">
          <%= link_to users_path, class: "text-dark" do %>
          <img class="card-img-top" src="https://images.unsplash.com/photo-1511632765486-a01980e01a18?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
          alt="トレ名" style="height: 200px;">
          <div class="card-body">
            <div class="card-title">会員一覧</div>
            <div class="card-text">
             こちらから登録した<br>トレーニーの方々<br>
             の検索、閲覧できます。
             <p class="mt-5 text-primary">詳細はこちら ></p>
            </div>
          </div>
          <% end %>
         </div>
      </div>
     </div>