  <div class="row">
    <div class="col-sm-12">
      <h3 class="border-bottom border-primary" style="padding:5px;">ガイドページと各登録ページ</h3>
    </div>
  </div>
   <div class="item-card card-deck">
     <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="card shadow-lg mb-3" style="height: 450px;">
          <%= link_to guide_path, class: "text-dark" do %>
           <img class="card-img-top" src="https://images.unsplash.com/photo-1544716278-ca5e3f4abd8c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80"
           alt="トレ名" style="height: 200px;">
          <div class="card-body">
            <div class="card-title">使い方</div>
            <div class="card-text">
             こちらから使い方や<br>
             どんなアプリか<br>説明してます。
             <p class="text-primary">詳細はこちら ></p>
            </div>
          </div>
          <% end %>
         </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="card shadow-lg mb-3" style="height: 450px;">
          <%= link_to new_training_menu_path, class: "text-dark" do %>
          <img class="card-img-top" src="https://images.unsplash.com/photo-1515847049296-a281d6401047?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
          alt="トレ名" style="height: 200px;">
          <div class="card-body">
            <div class="card-title">メニュー登録</div>
            <div class="card-text">
             こちらから<br>メニューを<br>
             登録します。
             <p class="text-primary">詳細はこちら ></p>
            </div>
          </div>
          <% end %>
         </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="card shadow-lg mb-3" style="height: 450px;">
          <%= link_to new_tweet_path, class: "text-dark" do %>
          <img class="card-img-top" src="https://images.unsplash.com/photo-1569411378499-565391f5ffe0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1370&q=80"
          alt="トレ名" style="height: 200px;">
          <div class="card-body">
            <div class="card-title">つぶやく</div>
            <div class="card-text">
             ここでつぶいて<br>
             コミュニケーション<br>が取れます<br>
             <p class="text-primary">詳細はこちら ></p>
            </div>
          </div>
          <% end %>
         </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="card shadow-lg mb-3" style="height: 450px;">
          <%= link_to genres_path, class: "text-dark" do %>
          <img class="card-img-top" src="https://images.unsplash.com/photo-1559116315-702b0b4774ce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=683&q=80"
          alt="トレ名" style="height: 200px;">
          <div class="card-body">
            <div class="card-title">部位一覧</div>
            <div class="card-text">
             こちらからご自身で<br>鍛える部位を<br>
             カスタマイズできます。
             <p class="text-primary">詳細はこちら ></p>
            </div>
          </div>
          <% end %>
         </div>
      </div>
     </div>