<div class="container-fluid text-center">
  <div class="jumbotron jumbotron-field" style="background: url(<%= asset_path "danberu.jpeg" %>); background-size: cover; background-position: center; background-repeat: no-repeat;">
    <h1 class="text-center text-danger font-weight-bolder" style="margin-top: 200px;">ようこそ！　WorkoutMenuへ！</h1>
　</div>
　<div class="text-center h3 font-weight-bolder">
　  説明書<br>
　  このアプリはトレーニングのメニューを作るアプリです<br>
　  全てご自身でカスタマイズできます<br>
　  鍛える部位、トレーニング名もご自身で決めれます。<br>
　  決め終わりましたらそこからメニューを組み立て日付を決めます。<br>
　  チェックを入れながら淡々とこなしていき<span class="text-danger">達成感</span>を味わいます！<br>
　  未来への健康投資です！皆さんも一緒に楽しくトレーニングやりましょう！
　</div>
</div>