<div class="jumbotron jumbotron-fluid" style="background: url(<%= asset_path "jimu.jpeg" %>) center; background-size: cover;">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-7">
         <div class="d-lg-flex d-md-flex d-sm-flex-none align-items-lg-center justify-content-lg-center" style="height:400px;">
          <h1 class="display-3 title title-top text-danger">Welcome!<br> WorkoutMenu!!</h1>
         </div>
         <div class="row">
           <div class="col-lg-5 col-md-10 col-sm-10 mb-3">
            <%= link_to "ログイン", new_user_session_path, class: "btn btn-success col-md-12" %>
           </div>
           <div class="col-lg-5 col-md-10 col-sm-10 mb-3">
            <%= link_to "サインアップ", new_user_registration_path, class: "btn btn-info col-md-12" %>
           </div>
          </div>
         <div class="row">
           <div class="col-lg-5 col-sm-10 mt-lg-3 offset-lg-3">
            <%= link_to 'ゲストログイン(閲覧用)', users_guest_sign_in_path, method: :post, class: "btn btn-secondary btn-block col-md-12" %>
          </div>
         </div>
       </div>
      </div>
      <div class="col-lg-5"></div>
    </div>
  </div>
</div>