<div class="main-image jumbotron">
  <div class="container text-center">
    <h1 class="app-name text-danger font-weight-bolder">WorkoutMenu</h1>
　  <h1 class="app-text text-primary font-weight-bolder">
　    このサイトは日々のトレーニングを管理したり<br>
　  気軽にトレーニーとのコミュニケーションができる<br>
　  コミュニティサイトです！
　  </h1>
　</div>
</div>
  <div class="container">
    <%= render "each_item" %>
    <%= render "each_item2" %>
   <div class="container">
    <div class="row">
     <div class="col-sm-12">
      <p class="h3 border-bottom border-primary" style="padding:5px;">開発者から一言</p>
      <div>
       <h3 class="word my-4 font-weight-bold">
         別にムキムキにならなくてもいいのです<br>
        トレーニングは軽くこなすだけでも十分効果を実感できます！<br>
        <span class="text-danger">未来への健康投資です！</span>皆さんも一緒に楽しくトレーニングやりましょう！
       </h3>
      </div>
      <%= link_to "https://twitter.com/share?url=#{ request.url }", target: '_blank' do %>
       <i class="fab fa-twitter" style='color: #3399FF;'></i>PFをシェア！
      <% end %>
      <p class="btn btn-success btn-sm float-right" id="page-top">🔼　一番上へ</p>
     </div>
    </div>
   </div>
  </div>


<%= javascript_pack_tag 'top_scroll.js', 'data-turbolinks-track': 'reload'  %>
