<% if @tweet.favorited?(current_user) %>
    <!--一致するレコードが存在する＝すでにいいね済みの場合はdestroyアクションへ-->
    <%= link_to tweet_favorites_path(@tweet.id), method: :delete do %>
        <span><i class="fas fa-thumbs-up" style="color:orange;"></i>︎</span>
    <% end %>
<% else %>
    <!--一致するレコードが存在しない＝まだいいねしていない場合はcreateアクションへ-->
    <%= link_to tweet_favorites_path(@tweet.id), method: :post do %>
        <span>いいねしてね！</span>
    <% end %>
<% end %>
