<div class="container">
  <div class="row mt-5">
    <div class="col-sm-12">
      <h3 class="tweet_new font-weight-bold text-center">
        日々のトレーニングお疲れ様です！<br>
        日々のトレーニングで思ったことや<br>
        今後やってみたいことなんでもつぶやいてください！<br>
        <span class="text-danger">※他の方が不快に思う呟きはお控えください</span>
      </h3>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-lg-3"></div>
    <div class="col-sm-12 col-lg-6">
      <div id="tweetForm">
       <%= form_with model: @tweet, url: tweets_path, method: :post do |f| %>
       <div class="form-group" id="tweetText">
         <div>
          <%= f.text_area :text, placeholder: "呟き記入欄", class: "form-control", rows: 5 %>
         </div>
       </div>
        <%= f.submit "呟き投稿", class: "btn btn-success float-right mt-1 col-lg-4 col-md-4", id: "tweetSubmit" %>
       </div>
       <% end %>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'tweet_form.js', 'data-turbolinks-track': 'reload'  %>
