<div class="container">
  <div class="row" style="margin-top: 100px;">
    <div class="col-lg-3"></div>
    <div class="col-sm-12 col-lg-6">
      <%= form_with model: @impression, url: impression_path, method: :patch do |f| %>
      <%= f.label :"つぶやき編集", class: "h3" %>
      <%= f.text_field :text, class: "form-control" %>
      <%= f.submit "編集する", class: "btn btn-success col-lg-4 col-md-4 float-right mt-3" %>
      <% end %>
    </div>
  </div>
</div>
