<div class="container">
  <div class="row m-5 text-center">
    <div class="col-sm-12">
     <h1>つぶやき一覧</h1>
    </div>
  </div>
  <div class="row m-5">
    <div class="col-sm-12">
     <div class="d-flex flex-column">
       <%= render "impression", impressions: @impressions %>
     </div>
    </div>
  </div>
  <%= paginate @impressions %>
</div>
