<div class="container">
  <div class="row mt-5">
    <div class="col-sm-12">
      <%= form_with model: [@tweet, @post_comment], method: :patch do |f| %>

       <div class="form-group">
        <h2><%= f.label :"コメント編集"%></h2>
        <%= f.text_area :comment, class: "form-control", rows: 3 %>
        <%= f.submit "編集する", class: "btn btn-info float-right col-lg-4 col-md-4 mt-3" %>
        <% end %>
       </div>
    </div>
  </div>
</div>
