<div class="container">
  <div class="row m-5">
    <div class="col-lg-3"></div>
    <div class="col-sm-12 col-lg-6">
      <%= form_with model: [@impression, @post_comment], method: :patch do |f| %>

       <div class="form-group">
        <%= f.label :"コメント編集", class: "h3" %></br>
        <%= f.text_field :comment, class: "form-control" %>
        <%= f.submit "編集する", class: "btn btn-success float-right col-lg-4 col-md-4 mt-3" %>
        <% end %>
       </div>
    </div>
  </div>
</div>
