<div class="container">
  <div class="row m-5">
    <div class="col-sm-12 text-center">
      <div class="card text-white bg-dark shadow-lg mt-3" style="height: 70vh;">
        <div class="card-header h1">
          <%= @post_comment.user.nickname %>さんのコメント詳細
        </div>
         <div class="card-body">
           <h1 class="card-text pb-3">コメント</h1>
           <h1 class="card-text pb-3"><%= @post_comment.comment %></h1>
           <%= link_to "コメント削除", admin_post_comment_path, method: :delete, "data-confirm" => "削除してもよろしいですか？", class: "btn btn-danger" %>
          </div>
      </div>
    </div>
  </div>
</div>
