/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */



* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
  }


/*カレンダーのCSS*/
 .simple-calendar day {
   background: #fff9ee;
 }
  .wday-0 {
    background: #ffeaea;
    color: #ff505c;
  }

  .wday-6 {
    background: #d4ebff;
    color: #5984dc;
  }
  .today {
    background: #FFA0A0;
  }
  .has-events {
   background: #98fb98;
 }
  .calendar-heading {
  font-size: 35px;
  text-align: center;
}


/*チェックボックスのサイズ*/
input[type=checkbox] {
	transform: scale(1.5);
}

/*ラジオボタンのサイズ*/
input[type=radio] {
	transform: scale(1.5);
}

.tweet_share {
  font-size: 15px;
  color: #3399FF
}

@media screen and (max-width: 480px) {
img { max-width: 100%; }
body {width: 100%;}

.footer {
  flex-wrap: nowrap;
}
.footer-logo {
  font-size: 20px;
}
.footer-logo3 li {
  font-size: 7px;
}
.app-name{
  font-size: 35px;
}
.app-text {
  margin-top: 70px;
}
small {
  font-size: 12px;
}
.word {
  font-size: 14px;
}
h4 {
  font-size: 15px;
}
h3 {
  font-size: 20px;
}
h2 {
  font-size: 22px;
}
h1 {
  font-size: 20px;
}
tr {
  font-size: 10px;
}
.btn {
  margin-top: 5px;
}
.tweet_new {
  font-size: 15px;
}

.genre_edit {
  font-size: 15px;
}
.image {
  display: none;
}
.calendar-heading {
  font-size: 20px;
}
.calendar {
  font-size: 7px;
}
}

@media screen and (max-width: 1024px) {
.footer {
  flex-wrap: nowrap;
}
h1 {
  font-size: 20px;
}
}

