<div class="container">
  <div class="row m-3">
    <div class="col-sm-12 text-center">
      <h1>トレーニー一覧表</h1>
      <%= render "search" %>
    </div>
  </div>
  <div class="row m-3">
    <%= render 'index', users: @users %>
  </div>
</div>
