<%= link_to notifications_path do %>
   <div class="position-relative">
    <% if unchecked_notifications.any? %>
        <i class="fas fa-bell fa-2x" style="color: orange;"></i><p class="text-light">通知あり</p>
    <% else %>
        <i class="fas fa-bell fa-2x" style="color: #a4969b;"></i><p class="text-light">通知なし</p>
    <% end %>
   </div>
<% end %>
