<% if model.errors.any? %>
  <div class="alert alert-danger">
   <h3><%= model.errors.count %> error</h3>
  <ul class="list-unstyled">
 <% model.errors.full_messages.each do |message| %>
  <li><%= message %></li>
 <% end %>
  </ul>
</div>
<% end %>
