<footer class="footer">
  <div class="container">
    <div class="footer row">
       <div class="col-xs-6 col-md-5">
        <div class="footer-logo">WorkoutMenu<br>
        <small>©2022 motoki ueno</small>
        </div>
       </div>
      <div class="col-xs-6 col-md-6 col-lg-6">
       <div class="footer-logo3 float-right">
        <ul class="p-0 list-unstyled">
         <li><a href="#" class="text-dark">お問い合わせ</a></li>
         <li><a href="#" class="text-dark">利用規約</a></li>
         <li><a href="#" class="text-dark">プライバシーポリシー</a></li>
         <% if user_signed_in? && nickname(current_user) != "guestuser" %>
         <li><%= link_to "退会する", unsubscribe_path, class: "text-danger" %></li>
         <% end %>
        </ul>
      </div>
    </div>
   </div>
</footer>
